.modal-wrapper {
  width: 80%;
  max-width: 800px;
  margin: 2rem auto;
  border: 1px solid black;
  transition: all 1.3s ease;
}

.modal-header {
  background: #3f51b5;
  color: #fff;
  padding: 0 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.5rem;
}

.btn-container {
  text-align: end;
  margin: 0.3rem 0.5rem;
}

.close-modal-btn {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.cl-btn {
  margin-left: 0.5em;
  cursor: pointer;
}
