.profile {
    margin: 0 auto;
    text-align: center;
}

.img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-list {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: #676868;
    font-weight: 650;
    border-top: #676868 solid 1px;
    border-bottom: #676868 solid 1px;
    width: 70%;
}

.nav-list li {
    cursor: pointer;
    padding: 0.5em;
}

.nav-list li:hover {
    background-color: #ededee;
    border-radius: 10px;
}

